html {
    scroll-behavior: smooth;
}
body {
    color: #444450;
    background-color: #fff;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    width: 100%;
}
h2 {
    font-size: 4.5em;
    max-lines: 1;
    margin: 0 auto;
    font-weight: 600;
}
h3 {
    font-size: 1em;
    color:#2979FF;
    text-transform: uppercase;
}
h4 {
    font-size: 2em;
}
.section-title {
    width: 200px;
    padding-right: 80px;
    text-align: right;
    flex-shrink: 0;
    letter-spacing: 2px;
}

/*--------------------------------------------------------------
# Nav-Menu
--------------------------------------------------------------*/
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 8px;
}
nav .nav-menu {
    list-style: none;
    margin-top: 8px;
    padding-right: 20px;
    display: inline-block;
}
nav h1 a {
    color:  #444450;
    text-decoration: none;
    float: left;
    padding-left: 20px;
}
nav h1 a:hover {
    color: #2979FF;
}
nav .nav-menu {
    float: right;
}
nav .nav-menu a {
    font-weight: 400;
    display: inline;
    padding: 0 10px;
}
nav .nav-menu a {
    color:  #444450;
    text-decoration: none;
}
nav .nav-menu a:hover {
    color: #2979FF;
}
.dropdown {
    display: inline;
}
.dropdown-btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    float: right;
    display: none;
    margin-right: 20px;
    cursor: pointer;
}
.dropdown .dropdown-btn .fa-bars {
    color:  #444450;
}
/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
    color:  #444450;
    height: 100vh;
    display: grid;
    place-items: center;
}
.home-text {
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
}
.subtitle {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 300;
    margin: 0 auto;
    letter-spacing: 2px;
}
.icon-social-list {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}
.icon-social-list a {
    padding: 0 5px;
    text-decoration: none;
    color:  #444450;
    font-weight: bold;
    text-transform: uppercase;
}
.icon-social-list a i {
    letter-spacing: 6px;
    font-size: 1.8em;
}
.icon-social-list a i:hover {
    color: #2979FF;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
}
#about .about-text {
    font-size: 1.5em;
    line-height: 1.5;
    margin-right: 15%;
}
#about h4 {
    font-size: 2em;
    letter-spacing: 2px;
    color: #2979FF;
}
#about p a {
    color: #2979FF;
    text-decoration: none;
}
#about p a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#skills {
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
    display: flex;
}
.skills {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.list-label {
    font-weight: bold;
    text-transform: uppercase;
}
.skills ul {
    max-width: 25%;
    list-style: none;
    flex-grow: 1;
    padding: 0 40px 0 0;
    line-height: 1.5;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
    display: flex;
}
.project-item {
    margin-bottom: 20px;
}
.project-title {
    color: #444450;
    text-decoration: none;
    font-weight: bold;
}
.project-title:hover {
    text-decoration: underline;
}
.stack-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.stack-list li {
    margin: 6px 6px 0 0;
    font-size: 0.8em;
    font-weight: 550;
    padding: 3px 7px;
    color: #2969ff;
    border: 1px solid #2979FF;
    border-radius: 4px;
    max-lines: 1;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0 10%;
    display: flex;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    margin: 0;
    padding: 50px 40px;
}
.copyright {
    float: left;
}
.social-list-footer {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.social-list-footer a {
    padding: 20px 10px;
    text-decoration: none;
    color: #2979FF;
    font-weight: bold;
    text-transform: uppercase;
}
.social-list-footer a:hover {
    text-decoration: underline;
}
footer .icon-social-list {
    margin: 16px 0 20px;
    padding: 0 30px;
    display: none;
}
footer .icon-social-list li i {
    font-size: 1.5em;
    color: #2979FF;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media screen and (min-width: 1800px){
    body {
        font-size: 1.4em;
    }
    #about {
        width: 50%;
    }
    #skills {
        width: 50%;
    }
    #portfolio {
        width: 50%;
    }
    #contact {
        width: 50%;
    }
    footer {
        margin: 0;
        padding: 60px;
    }
}
@media screen and (min-width: 1600px){
    #about {
        width: 60%;
    }
    #skills {
        width: 60%;
    }
    #portfolio {
        width: 60%;
    }
    #contact {
        width: 60%;
    }
}
@media screen and (max-width: 800px){
    .section-title {
        text-align: left;
    }

    /* Navbar */
    .dropdown-btn{
        display: block;
        float: right;
    }
    .dropdown-btn i {
        color: #fff;
    }
    nav .nav-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2e2e31;
        top: 54px;
        left: -200%;
        margin-top: 16px;
        padding-top: 16px;
        transition: all .5s;
        text-align: center;
        align-items: center;
    }
    nav .nav-menu a {
        color: #eee;
        display: block;
        height: 10%;
        margin: 30px;
        font-size: 20px;
    }
    .dropdown:focus-within .nav-menu{
        left: 0;
    }

    /* Home */
    h2 {
        font-size: 3.5em;
    }
    .subtitle {
        font-size: 1.8em;
    }
    .icon-social-list a i {
        font-size: 1.5em;
    }

    /* About */
    #about .about-text{
        margin: 0;
    }

    /* Skills */
    #skills {
        flex-wrap: wrap;
    }
    .skills {
        flex-wrap: wrap;
    }
    .skills ul {
        flex: 1;
        max-width: 30%;
    }
    
    /* Portfolio */
    #portfolio {
        flex-wrap: wrap;
    }
    
    /* Contact */
    #contact {
        flex-wrap: wrap;
    }
} 

@media screen and (max-width: 580px) {
    /* Home */
    h2 {
        font-size: 3em;
    }

    /* Footer */
    footer {
        display: grid;
        place-items: center;
        padding: 0;
    }
    footer .icon-social-list {
        display: flex;
    }
    .social-list-footer {
        display: none;
    }
    
    
}