html {
    scroll-behavior: smooth;
}
body {
    color: #444450;
    background-color: #fff;
    font-weight: 350;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    width: 100%;
}
section {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
h2 {
    font-size: 2.5em;
    max-lines: 1;
    margin: 0 auto;
    font-weight: 600;
}
h3 {
    font-size: 1em;
    color:#2979FF;
    text-transform: uppercase;
}
.section-title {
    width: 180px;
    padding-right: 80px;
    text-align: right;
    flex-shrink: 0;
    letter-spacing: 2px;
}
a, a i{
    font-weight: 400;
    transition: all 0.2s ease-out 0s;
}
a:hover, a i:hover {
    transition: all 0.2s ease-in 0s;
}

/*--------------------------------------------------------------
# Nav-Menu
--------------------------------------------------------------*/
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: top 0.5s ease-in-out;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
}
nav .nav-menu {
    list-style: none;
    padding: 0 20px;
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
}
nav .menu-links {
    float: right;
    margin: 0;
}
nav .nav-menu a {
    font-weight: 400;
    display: inline;
    padding: 0 10px;
    color:  #444450;
    text-decoration: none;
}
nav .nav-menu a:hover, nav .nav-menu a:focus {
    color: #2979FF;
}
.dropdown {
    margin: 0;
    display: inline;
}
.dropdown-btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    float: right;
    display: none;
    margin-right: 20px;
    margin-top: -5px;
    cursor: pointer;
}
.dropdown .dropdown-btn .fa-bars {
    color:  #444450;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
    color:  #444450;
    height: 100vh;
    align-items: center;
}
.subtitle {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 auto;
    letter-spacing: 3px;
}
.home-img img {
    width: 220px;
    height: auto;
    border-radius: 50%;
    padding: 10%;
}
.home-text .about-text {
    font-size: 1.1em;
    line-height: 1.5;
}
.about-text b {
    font-weight: 500;
}
.icon-social-list {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}
.icon-social-list a {
    padding: 0 10px 0 2px;
    text-decoration: none;
    color:  #444450;
    font-weight: bold;
    text-transform: uppercase;
}
.icon-social-list a i {
    letter-spacing: 6px;
    font-size: 1.8em;
}
.icon-social-list a i:hover {
    color: #2979FF;
}
li .resume, .contact-link {
    font-weight: 400;
    padding: 3px;
    border: 1.3px solid;
    border-radius: 3px;
    text-transform: capitalize;
    text-decoration: none;
    color: #444450;
}
li .resume:hover, li .resume:focus, .contact-link:hover, .contact-link:focus {
    color: #2979FF;
    background-color: #fff;
}

/*--------------------------------------------------------------
# Current Work
--------------------------------------------------------------*/
#work {
    padding: 5% 0;
}
.work-header {
    display: flex;
    justify-content: space-between;
}
.work-title {
    font-weight: bold;
    margin-bottom: 0;
}
.work-company {
    margin-top: 0;
}
.work-timeline {
    text-align: right;
}
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#skills {
    padding: 5% 0;
}
.skills {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.list-label {
    font-weight: bold;
    text-transform: uppercase;
}
.skills ul {
    max-width: 25%;
    list-style: none;
    flex-grow: 1;
    padding: 0 20px 0 0;
    line-height: 1.5;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
    padding: 5% 0;
}
.project-item {
    margin-bottom: 20px;
}
.project-title {
    color: #444450;
    text-decoration: none;
    font-weight: bold;
}
.project-title:hover, .project-title:focus {
    text-decoration: underline;
}
.stack-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.stack-list li {
    margin: 0 6px 6px 0; 
    font-size: 0.8em;
    font-weight: 550;
    padding: 3px 7px;
    color: #2969ff;
    border: 1px solid #2979FF;
    border-radius: 4px;
    max-lines: 1;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
    padding: 5% 0 10%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}
.copyright {
    float: left;
}
.social-list-footer {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.social-list-footer a {
    padding: 16px 10px;
    text-decoration: none;
    color: #2979FF;
    font-weight: bold;
    text-transform: uppercase;
}
.social-list-footer a:hover {
    text-decoration: underline;
}
footer .icon-social-list {
    margin: 16px 0 20px;
    padding: 0 30px;
    display: none;
}
footer .icon-social-list li i {
    font-size: 1.5em;
    color: #2979FF;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media screen and (min-width: 1800px){
    .home-img img {
        width: 300px;
    }
}
@media screen and (max-width: 800px){
    section {
        flex-wrap: wrap;
    }
    .section-title {
        text-align: left;
    }

    /* Navbar */
    .dropdown-btn{
        display: block;
        float: right;
    }
    .dropdown-btn i {
        color: #444450;
        padding-right: 6px;
    }
    nav .nav-menu {
        position: fixed;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 66px;
        left: -200%;
        margin: 0;
        padding: 0;
        transition: all .5s;
        text-align: left;
    }
    nav .nav-menu a {
        color: #444450;
        display: block;
        border-top: 1px solid #CCC;
        margin: 0 20px;
        padding: 20px;
        font-size: 20px;
        align-content: center;
    }
    .dropdown:focus-within .nav-menu{
        left: 0;
    }
    .menu-links {
        float: left;
        width: 100%;
    }

    /* Home */
    #home {
        top: -66px;
        flex-wrap: wrap-reverse;
        justify-content: center;
        height: auto;
    }
    .home-img {
        padding-top: 66px;
    }
    .home-img img {
        margin-left: 0;
        margin-right: 0;
    }
    .icon-social-list a i {
        font-size: 1.5em;
    }

    /* About */
    #about .about-text{
        margin: 0;
    }

    /* Skills */
    .skills {
        flex-wrap: wrap;
    }
    .skills ul {
        flex: 1;
        max-width: 30%;
    }
} 

@media screen and (max-width: 588px) {
    h2 {
        font-size: 2em;
    }
    /* Home */
    .home-img img {
        width: 196px;
        max-width: 50vw;
    }
    /* Footer */
    footer {
        display: grid;
        place-items: center;
        padding: 0;
    }
    footer .icon-social-list {
        display: flex;
    }
    .social-list-footer {
        display: none;
    }
}